In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [29]:
# Create a reference the CSV file desired
csv_path ="nonviolent_crimes_regression.csv"
csv_path_1="violent_crimes_regression.csv"
csv_path_3="population_neighborhood.csv"
csv_path_4 = "zillow_regression.csv"

#Read the csv
violent_df= pd.read_csv(csv_path)
nonviolent_df = pd.read_csv(csv_path_1)
population_df= pd.read_csv(csv_path_3)
zillow_df = pd.read_csv(csv_path_4)

# Print the first five rows of data to the screen
violent_df

      Analysis Neighborhood Incident Year-Month  Incident Datetime
0     Bayview Hunters Point             2018-01                153
1     Bayview Hunters Point             2018-02                103
2     Bayview Hunters Point             2018-03                144
3     Bayview Hunters Point             2018-04                134
4     Bayview Hunters Point             2018-05                118
...                     ...                 ...                ...
2407       Western Addition             2022-08                 64
2408       Western Addition             2022-09                 59
2409       Western Addition             2022-10                 65
2410       Western Addition             2022-11                 52
2411       Western Addition             2022-12                 52

[2412 rows x 3 columns]

In [14]:
nonviolent_df

      index  Analysis Neighborhood Incident Year-Month  Incident Datetime
0         0  Bayview Hunters Point             2018-01                154
1         1  Bayview Hunters Point             2018-02                130
2         2  Bayview Hunters Point             2018-03                150
3         3  Bayview Hunters Point             2018-04                148
4         4  Bayview Hunters Point             2018-05                158
...     ...                    ...                 ...                ...
2451   2451       Western Addition             2022-08                 88
2452   2452       Western Addition             2022-09                108
2453   2453       Western Addition             2022-10                 95
2454   2454       Western Addition             2022-11                 88
2455   2455       Western Addition             2022-12                 94

[2456 rows x 4 columns]

In [16]:
violent_df_index = violent_df.reset_index(drop=True)
violent_df_index

      Analysis Neighborhood Incident Year-Month  Incident Datetime
0     Bayview Hunters Point             2018-01                153
1     Bayview Hunters Point             2018-02                103
2     Bayview Hunters Point             2018-03                144
3     Bayview Hunters Point             2018-04                134
4     Bayview Hunters Point             2018-05                118
...                     ...                 ...                ...
2407       Western Addition             2022-08                 64
2408       Western Addition             2022-09                 59
2409       Western Addition             2022-10                 65
2410       Western Addition             2022-11                 52
2411       Western Addition             2022-12                 52

[2412 rows x 3 columns]

In [17]:
#Rename columns to merge witht the zillow data frame later.
violent_df_index_rename = violent_df_index.rename(columns={"Analysis Neighborhood":"Neighborhood","Incident Year-Month":"Date","Incident Datetime":"Number of Crimes"})
violent_df_index_rename

               Neighborhood     Date  Number of Crimes
0     Bayview Hunters Point  2018-01               153
1     Bayview Hunters Point  2018-02               103
2     Bayview Hunters Point  2018-03               144
3     Bayview Hunters Point  2018-04               134
4     Bayview Hunters Point  2018-05               118
...                     ...      ...               ...
2407       Western Addition  2022-08                64
2408       Western Addition  2022-09                59
2409       Western Addition  2022-10                65
2410       Western Addition  2022-11                52
2411       Western Addition  2022-12                52

[2412 rows x 3 columns]

In [21]:
#Rename columns to merge witht the zillow data frame later.
nonviolent_df_rename = nonviolent_df.rename(columns={"Analysis Neighborhood":"Neighborhood","Incident Year-Month":"Date","Incident Datetime":"Number of Crimes"})
nonviolent_df_rename

      index           Neighborhood     Date  Number of Crimes
0         0  Bayview Hunters Point  2018-01               154
1         1  Bayview Hunters Point  2018-02               130
2         2  Bayview Hunters Point  2018-03               150
3         3  Bayview Hunters Point  2018-04               148
4         4  Bayview Hunters Point  2018-05               158
...     ...                    ...      ...               ...
2451   2451       Western Addition  2022-08                88
2452   2452       Western Addition  2022-09               108
2453   2453       Western Addition  2022-10                95
2454   2454       Western Addition  2022-11                88
2455   2455       Western Addition  2022-12                94

[2456 rows x 4 columns]

In [25]:
non_violent_df_rename=nonviolent_df_rename[["Neighborhood","Date","Number of Crimes"]]
non_violent_df_rename

               Neighborhood     Date  Number of Crimes
0     Bayview Hunters Point  2018-01               154
1     Bayview Hunters Point  2018-02               130
2     Bayview Hunters Point  2018-03               150
3     Bayview Hunters Point  2018-04               148
4     Bayview Hunters Point  2018-05               158
...                     ...      ...               ...
2451       Western Addition  2022-08                88
2452       Western Addition  2022-09               108
2453       Western Addition  2022-10                95
2454       Western Addition  2022-11                88
2455       Western Addition  2022-12                94

[2456 rows x 3 columns]

In [37]:
#Merge the zillow data frame with the data frames for violent and non violent crimes
merge_violent_crimes_df = pd.merge(violent_df_index_rename,zillow_df,on=["Neighborhood","Date"])
merge_nonviolent_crimes_df=pd.merge(non_violent_df_rename,zillow_df,on=["Neighborhood","Date"])

In [38]:
merge_violent_crimes_df

               Neighborhood     Date  Number of Crimes         Price
0     Bayview Hunters Point  2018-01               153  8.313694e+05
1     Bayview Hunters Point  2018-02               103  8.368342e+05
2     Bayview Hunters Point  2018-03               144  8.423898e+05
3     Bayview Hunters Point  2018-04               134  8.467867e+05
4     Bayview Hunters Point  2018-05               118  8.547810e+05
...                     ...      ...               ...           ...
2019       Western Addition  2022-08                64  1.105756e+06
2020       Western Addition  2022-09                59  1.082914e+06
2021       Western Addition  2022-10                65  1.064080e+06
2022       Western Addition  2022-11                52  1.049605e+06
2023       Western Addition  2022-12                52  1.037988e+06

[2024 rows x 4 columns]

In [39]:
merge_nonviolent_crimes_df

               Neighborhood     Date  Number of Crimes         Price
0     Bayview Hunters Point  2018-01               154  8.313694e+05
1     Bayview Hunters Point  2018-02               130  8.368342e+05
2     Bayview Hunters Point  2018-03               150  8.423898e+05
3     Bayview Hunters Point  2018-04               148  8.467867e+05
4     Bayview Hunters Point  2018-05               158  8.547810e+05
...                     ...      ...               ...           ...
2033       Western Addition  2022-08                88  1.105756e+06
2034       Western Addition  2022-09               108  1.082914e+06
2035       Western Addition  2022-10                95  1.064080e+06
2036       Western Addition  2022-11                88  1.049605e+06
2037       Western Addition  2022-12                94  1.037988e+06

[2038 rows x 4 columns]

In [40]:
#Merging violent and non violent data frames with the population to get the crime rate.
violent_crimes_population = pd.merge(merge_violent_crimes_df,population_df,on=["Neighborhood"])
nonviolent_crimes_population = pd.merge(merge_nonviolent_crimes_df,population_df,on=["Neighborhood"])
violent_crimes_population

,Neighborhood,Date,Number of Crimes,Price,Population
0,Bayview Hunters Point,2018-01,153,8.313694e+05,38480.0
1,Bayview Hunters Point,2018-02,103,8.368342e+05,38480.0
2,Bayview Hunters Point,2018-03,144,8.423898e+05,38480.0
3,Bayview Hunters Point,2018-04,134,8.467867e+05,38480.0
4,Bayview Hunters Point,2018-05,118,8.547810e+05,38480.0
...,...,...,...,...,...
2019,Western Addition,2022-08,64,1.105756e+06,22299.0
2020,Western Addition,2022-09,59,1.082914e+06,22299.0
2021,Western Addition,2022-10,65,1.064080e+06,22299.0
2022,Western Addition,2022-11,52,1.049605e+06,22299.0
2023,Western Addition,2022-12,52,1.037988e+06,22299.0

In [41]:
nonviolent_crimes_population

,Neighborhood,Date,Number of Crimes,Price,Population
0,Bayview Hunters Point,2018-01,154,8.313694e+05,38480.0
1,Bayview Hunters Point,2018-02,130,8.368342e+05,38480.0
2,Bayview Hunters Point,2018-03,150,8.423898e+05,38480.0
3,Bayview Hunters Point,2018-04,148,8.467867e+05,38480.0
4,Bayview Hunters Point,2018-05,158,8.547810e+05,38480.0
...,...,...,...,...,...
2033,Western Addition,2022-08,88,1.105756e+06,22299.0
2034,Western Addition,2022-09,108,1.082914e+06,22299.0
2035,Western Addition,2022-10,95,1.064080e+06,22299.0
2036,Western Addition,2022-11,88,1.049605e+06,22299.0
2037,Western Addition,2022-12,94,1.037988e+06,22299.0

In [42]:
#Getting the crime rate
violent_crimes_population["Crime Rate"] =(violent_crimes_population ["Number of Crimes"]/violent_crimes_population["Population"])
nonviolent_crimes_population["Crime Rate"] =(nonviolent_crimes_population ["Number of Crimes"]/nonviolent_crimes_population["Population"])
violent_crimes_population

,Neighborhood,Date,Number of Crimes,Price,Population,Crime Rate
0,Bayview Hunters Point,2018-01,153,8.313694e+05,38480.0,0.003976
1,Bayview Hunters Point,2018-02,103,8.368342e+05,38480.0,0.002677
2,Bayview Hunters Point,2018-03,144,8.423898e+05,38480.0,0.003742
3,Bayview Hunters Point,2018-04,134,8.467867e+05,38480.0,0.003482
4,Bayview Hunters Point,2018-05,118,8.547810e+05,38480.0,0.003067
...,...,...,...,...,...,...
2019,Western Addition,2022-08,64,1.105756e+06,22299.0,0.002870
2020,Western Addition,2022-09,59,1.082914e+06,22299.0,0.002646
2021,Western Addition,2022-10,65,1.064080e+06,22299.0,0.002915
2022,Western Addition,2022-11,52,1.049605e+06,22299.0,0.002332
2023,Western Addition,2022-12,52,1.037988e+06,22299.0,0.002332

In [43]:
nonviolent_crimes_population

,Neighborhood,Date,Number of Crimes,Price,Population,Crime Rate
0,Bayview Hunters Point,2018-01,154,8.313694e+05,38480.0,0.004002
1,Bayview Hunters Point,2018-02,130,8.368342e+05,38480.0,0.003378
2,Bayview Hunters Point,2018-03,150,8.423898e+05,38480.0,0.003898
3,Bayview Hunters Point,2018-04,148,8.467867e+05,38480.0,0.003846
4,Bayview Hunters Point,2018-05,158,8.547810e+05,38480.0,0.004106
...,...,...,...,...,...,...
2033,Western Addition,2022-08,88,1.105756e+06,22299.0,0.003946
2034,Western Addition,2022-09,108,1.082914e+06,22299.0,0.004843
2035,Western Addition,2022-10,95,1.064080e+06,22299.0,0.004260
2036,Western Addition,2022-11,88,1.049605e+06,22299.0,0.003946
2037,Western Addition,2022-12,94,1.037988e+06,22299.0,0.004215

In [44]:
#Getting the correlation between prices and violent crimes
violent_crimes_price_rate = violent_crimes_population[["Date","Neighborhood","Price","Crime Rate"]]
nonviolent_crimes_price_rate = nonviolent_crimes_population[["Date","Neighborhood","Price","Crime Rate"]]
violent_crimes_price_rate
nonviolent_crimes_price_rate

         Date           Neighborhood         Price  Crime Rate
0     2018-01  Bayview Hunters Point  8.313694e+05    0.004002
1     2018-02  Bayview Hunters Point  8.368342e+05    0.003378
2     2018-03  Bayview Hunters Point  8.423898e+05    0.003898
3     2018-04  Bayview Hunters Point  8.467867e+05    0.003846
4     2018-05  Bayview Hunters Point  8.547810e+05    0.004106
...       ...                    ...           ...         ...
2033  2022-08       Western Addition  1.105756e+06    0.003946
2034  2022-09       Western Addition  1.082914e+06    0.004843
2035  2022-10       Western Addition  1.064080e+06    0.004260
2036  2022-11       Western Addition  1.049605e+06    0.003946
2037  2022-12       Western Addition  1.037988e+06    0.004215

[2038 rows x 4 columns]

In [45]:
#Correlation between violent crimes and prices in a given neighborhood
corr_violent_prices =violent_crimes_price_rate.groupby("Neighborhood")[["Price","Crime Rate"]].corr().iloc[0::2,-1].reset_index()
corr_violent_prices=corr_violent_prices.rename(columns={"Crime Rate":"Pearson"})
corr_violent_prices=corr_violent_prices[["Neighborhood","Pearson"]]
corr_violent_prices

                      Neighborhood   Pearson
0            Bayview Hunters Point  0.154357
1                   Bernal Heights  0.172806
2                        Excelsior -0.264021
3   Financial District/South Beach  0.135606
4                        Glen Park -0.081876
5                   Haight Ashbury -0.237402
6                     Hayes Valley  0.093500
7                   Inner Richmond  0.090541
8                     Inner Sunset -0.099895
9                        Japantown  0.064393
10                       Lakeshore -0.078294
11               Lone Mountain/USF -0.285241
12                          Marina  0.296054
13                         Mission -0.233783
14                     Mission Bay  0.062747
15                        Nob Hill  0.092348
16                      Noe Valley  0.218432
17                     North Beach  0.029052
18      Oceanview/Merced/Ingleside -0.069571
19                   Outer Mission -0.101011
20                  Outer Richmond  0.271534
21                 Pacific Heights  0.009423
22                         Portola  0.084725
23                    Potrero Hill  0.051905
24                        Presidio -0.071705
25                Presidio Heights -0.035869
26                    Russian Hill -0.133574
27                        Seacliff  0.018555
28                 South of Market  0.072744
29                      Tenderloin -0.263892
30                      Twin Peaks -0.056497
31               Visitacion Valley -0.593396
32              West of Twin Peaks -0.010804
33                Western Addition  0.134767

In [46]:
#Correlation between non violent crimes and prices in a given neighborhood
corr_nonviolent_prices =nonviolent_crimes_price_rate.groupby("Neighborhood")[["Price","Crime Rate"]].corr().iloc[0::2,-1].reset_index()
corr_nonviolent_prices=corr_nonviolent_prices.rename(columns={"Crime Rate":"Pearson"})
corr_nonviolent_prices=corr_nonviolent_prices[["Neighborhood","Pearson"]]
corr_nonviolent_prices

                      Neighborhood   Pearson
0            Bayview Hunters Point  0.398630
1                   Bernal Heights  0.302768
2                        Excelsior  0.225602
3   Financial District/South Beach  0.408156
4                        Glen Park  0.441620
5                   Haight Ashbury -0.002182
6                     Hayes Valley -0.222560
7                   Inner Richmond -0.077890
8                     Inner Sunset  0.214585
9                        Japantown -0.058001
10                       Lakeshore  0.587351
11               Lone Mountain/USF  0.058999
12                          Marina  0.088020
13                         Mission  0.080298
14                     Mission Bay  0.087415
15                        Nob Hill  0.139822
16                      Noe Valley  0.249923
17                     North Beach -0.282756
18      Oceanview/Merced/Ingleside  0.199952
19                   Outer Mission  0.201417
20                  Outer Richmond  0.297008
21                 Pacific Heights  0.115132
22                         Portola -0.082295
23                    Potrero Hill  0.222708
24                        Presidio -0.059859
25                Presidio Heights -0.132765
26                    Russian Hill -0.149107
27                        Seacliff  0.273143
28                 South of Market  0.238731
29                      Tenderloin  0.365654
30                      Twin Peaks -0.083608
31               Visitacion Valley -0.189005
32              West of Twin Peaks  0.312541
33                Western Addition  0.123743