In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [18]:
# Create a reference the CSV file desired
csv_path ="crime_df_incident_category.csv"
csv_path_2 = "zillow_regression.csv"

#Read the csv
crime_per_type_incident = pd.read_csv(csv_path)
zillow_df = pd.read_csv(csv_path_2)

# Print the first five rows of data to the screen

crime_per_type_incident

,index,Analysis Neighborhood,Incident Year-Month,Incident Category
0,0,Financial District/South Beach,2021-08,Fraud
1,1,Hayes Valley,2021-11,Arson
2,5,Japantown,2021-10,Larceny Theft
3,13,Marina,2021-06,Non-Criminal
4,14,Visitacion Valley,2021-06,Arson
...,...,...,...,...
644578,706198,Mission,2021-05,Burglary
644579,706200,Nob Hill,2021-11,Malicious Mischief
644580,706201,Nob Hill,2021-08,Non-Criminal
644581,706202,Bayview Hunters Point,2021-05,Other Miscellaneous
644582,706203,South of Market,2021-06,Assault

In [13]:
#Rename columns to merge witht the zillow data frame later.
crime_type_incident = crime_per_type_incident.rename(columns={"Analysis Neighborhood":"Neighborhood","Incident Year-Month":"Date","Incident Category":"Number of Crimes"})
crime_type_incident

         index                    Neighborhood     Date     Number of Crimes
0            0  Financial District/South Beach  2021-08                Fraud
1            1                    Hayes Valley  2021-11                Arson
2            5                       Japantown  2021-10        Larceny Theft
3           13                          Marina  2021-06         Non-Criminal
4           14               Visitacion Valley  2021-06                Arson
...        ...                             ...      ...                  ...
644578  706198                         Mission  2021-05             Burglary
644579  706200                        Nob Hill  2021-11   Malicious Mischief
644580  706201                        Nob Hill  2021-08         Non-Criminal
644581  706202           Bayview Hunters Point  2021-05  Other Miscellaneous
644582  706203                 South of Market  2021-06              Assault

[644583 rows x 4 columns]

In [15]:
# making dataframes based on type of crime
violent_crimes = ["Assult", "Larceny Theft", "Burglary", "Motor Vehicle Theft", "Robbery",
                  "Weapons Offense", "Arson", "Rape", "Homicide",
                  "Human Trafficking"]

nonviolent_crimes = ["Malicious Mischeif", "Other Miscellaneous", "Fraud", "Drug Offense",
                     "Disorderly Conduct", "Offences Against The Family And Children",
                     "Traffic Violation Arrest", "Weapons Carrying Etc",
                     "Stolen Property", "Forgery and Counterfeiting", "Traffic Collision",
                     "Vandalism", "Prostitution", "Embezzlement", "Civil Sidewalks",
                     "Sex Offense", "Drug Violation", "Malicious Mischief", "Gambling"]

misc_disturbance = ["Liquor Laws ", "Missing Person", "Suspicious Activity", "Miscellaneous Investigation",
        "Other Offenses", "Courtesy Report", "Fire Report", "Vehicle Impounded", "Suicide"]

get_rid_of = ["Non-Criminal", "Recovered Vehicles", "Lost Property", "Warrant", "Other", 
              "Case Closure", "Vehicle Misplaced"]


violent_crimes_df = crime_type_incident.loc[crime_type_incident["Number of Crimes"].isin(violent_crimes)]
nonviolent_crimes_df = crime_type_incident.loc[crime_type_incident["Number of Crimes"].isin(nonviolent_crimes)]
misc_disturbance_df = crime_type_incident.loc[crime_type_incident["Number of Crimes"].isin(misc_disturbance)]

In [28]:
#violent_crimes_df

In [12]:
#nonviolent_crimes_df

In [10]:
#misc_disturbance_df

In [17]:
#Group by neighborhood and date.
grouped_violent_crimes_df = violent_crimes_df.groupby(["Neighborhood","Date"]).count()
grouped_nonviolent_crimes_df = nonviolent_crimes_df.groupby(["Neighborhood","Date"]).count()
grouped_misc_disturbance_df= misc_disturbance_df.groupby(["Neighborhood","Date"]).count()

In [23]:
#Merge the zillow data frame with the data frames for violent and non violent crimes
merge_violent_crimes_df = pd.merge(grouped_violent_crimes_df,zillow_df,on=["Neighborhood","Date"])
merge_nonviolent_crimes_df=pd.merge(grouped_nonviolent_crimes_df,zillow_df,on=["Neighborhood","Date"])

In [24]:
merge_violent_crimes_df

               Neighborhood     Date  index  Number of Crimes         Price
0     Bayview Hunters Point  2018-01    229               229  8.313694e+05
1     Bayview Hunters Point  2018-02    196               196  8.368342e+05
2     Bayview Hunters Point  2018-03    207               207  8.423898e+05
3     Bayview Hunters Point  2018-04    213               213  8.467867e+05
4     Bayview Hunters Point  2018-05    218               218  8.547810e+05
...                     ...      ...    ...               ...           ...
2034       Western Addition  2022-08    153               153  1.105756e+06
2035       Western Addition  2022-09    184               184  1.082914e+06
2036       Western Addition  2022-10    168               168  1.064080e+06
2037       Western Addition  2022-11    166               166  1.049605e+06
2038       Western Addition  2022-12    146               146  1.037988e+06

[2039 rows x 5 columns]

In [25]:
merge_nonviolent_crimes_df

               Neighborhood     Date  index  Number of Crimes         Price
0     Bayview Hunters Point  2018-01    268               268  8.313694e+05
1     Bayview Hunters Point  2018-02    195               195  8.368342e+05
2     Bayview Hunters Point  2018-03    218               218  8.423898e+05
3     Bayview Hunters Point  2018-04    199               199  8.467867e+05
4     Bayview Hunters Point  2018-05    193               193  8.547810e+05
...                     ...      ...    ...               ...           ...
2028       Western Addition  2022-08     96                96  1.105756e+06
2029       Western Addition  2022-09     93                93  1.082914e+06
2030       Western Addition  2022-10     88                88  1.064080e+06
2031       Western Addition  2022-11     80                80  1.049605e+06
2032       Western Addition  2022-12     77                77  1.037988e+06

[2033 rows x 5 columns]

In [29]:
violent_crimes_prices =  merge_violent_crimes_df[["Neighborhood","Date","Price","Number of Crimes"]]
violent_crimes_prices

               Neighborhood     Date         Price  Number of Crimes
0     Bayview Hunters Point  2018-01  8.313694e+05               229
1     Bayview Hunters Point  2018-02  8.368342e+05               196
2     Bayview Hunters Point  2018-03  8.423898e+05               207
3     Bayview Hunters Point  2018-04  8.467867e+05               213
4     Bayview Hunters Point  2018-05  8.547810e+05               218
...                     ...      ...           ...               ...
2034       Western Addition  2022-08  1.105756e+06               153
2035       Western Addition  2022-09  1.082914e+06               184
2036       Western Addition  2022-10  1.064080e+06               168
2037       Western Addition  2022-11  1.049605e+06               166
2038       Western Addition  2022-12  1.037988e+06               146

[2039 rows x 4 columns]

In [30]:
nonviolent_crimes_prices =  merge_nonviolent_crimes_df[["Neighborhood","Date","Price","Number of Crimes"]]
nonviolent_crimes_prices

               Neighborhood     Date         Price  Number of Crimes
0     Bayview Hunters Point  2018-01  8.313694e+05               268
1     Bayview Hunters Point  2018-02  8.368342e+05               195
2     Bayview Hunters Point  2018-03  8.423898e+05               218
3     Bayview Hunters Point  2018-04  8.467867e+05               199
4     Bayview Hunters Point  2018-05  8.547810e+05               193
...                     ...      ...           ...               ...
2028       Western Addition  2022-08  1.105756e+06                96
2029       Western Addition  2022-09  1.082914e+06                93
2030       Western Addition  2022-10  1.064080e+06                88
2031       Western Addition  2022-11  1.049605e+06                80
2032       Western Addition  2022-12  1.037988e+06                77

[2033 rows x 4 columns]