In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [3]:
file = "police_reports_clean.csv"
police_reports = pd.read_csv(file)

In [25]:
pop_2018 = pd.DataFrame(pd.read_csv("2018_POP_BYZIPCODE.csv"))

In [26]:
# droppping non-regression related columns
incident_reports = police_reports.drop(columns=["Filed Online", "Police District", "Report Type Description", 
                                                "Incident Description", "Incident Subcategory", "Incident Day of Week", 
                                               "Resolution", "Intersection"])
#incident_reports.head()

In [27]:
# extracting only the year and month from the date columns
def extract_year_month(date_str):
    return "-".join(date_str.split("-")[:2])
incident_reports["Incident Year-Month"] = incident_reports["Incident Date"].apply(extract_year_month)
incident_reports["Report Year-Month"] = incident_reports["Incident Date"].apply(extract_year_month)
#incident_reports.head()

In [28]:
year_month_groupby = incident_reports.groupby(incident_reports['Incident Year-Month']).count()['Incident Datetime']
year_month_groupby = pd.DataFrame(year_month_groupby)
year_month_groupby.columns = ['Incident Count']
#year_month_groupby.head()

In [14]:
# making dataframes based on type of crime
violent_crimes = ["Assult", "Larceny Theft", "Burglary", "Motor Vehicle Theft", "Robbery",
                  "Weapons Offense", "Arson", "Rape", "Homicide",
                  "Human Trafficking"]

nonviolent_crimes = ["Malicious Mischeif", "Other Miscellaneous", "Fraud", "Drug Offense",
                     "Disorderly Conduct", "Offences Against The Family And Children",
                     "Traffic Violation Arrest", "Weapons Carrying Etc",
                     "Stolen Property", "Forgery and Counterfeiting", "Traffic Collision",
                     "Vandalism", "Prostitution", "Embezzlement", "Civil Sidewalks",
                     "Sex Offense", "Drug Violation", "Malicious Mischief", "Gambling"]

misc_disturbance = ["Liquor Laws ", "Missing Person", "Suspicious Activity", "Miscellaneous Investigation",
        "Other Offenses", "Courtesy Report", "Fire Report", "Vehicle Impounded", "Suicide"]

get_rid_of = ["Non-Criminal", "Recovered Vehicles", "Lost Property", "Warrant", "Other", 
              "Case Closure", "Vehicle Misplaced"]


violent_crimes_df = incident_reports.loc[incident_reports["Incident Category"].isin(violent_crimes)]
nonviolent_crimes_df = incident_reports.loc[incident_reports["Incident Category"].isin(nonviolent_crimes)]
misc_disturbance_df = incident_reports.loc[incident_reports["Incident Category"].isin(misc_disturbance)]

In [15]:
incident_dtypes = incident_reports.astype({'Analysis Neighborhood': str})
incident_dtypes = incident_reports.astype({'Incident Year-Month': str})

In [32]:
neighborhood_all_groupby = incident_dtypes.groupby(['Incident Year-Month', 'Analysis Neighborhood']).count()['Incident Datetime']
#neighborhood_all_groupby = pd.DataFrame(groupby_year_month)
neighborhood_all_groupby = pd.DataFrame(neighborhood_all_groupby)
neighborhood_all_groupby.columns = ['Incident Count']
neighborhood_all_groupby #["Incident Year-Month"]

                                           Incident Count
Incident Year-Month Analysis Neighborhood
2018-01             Bayview Hunters Point             476
                    Bernal Heights                    163
                    Castro/Upper Market               210
                    Chinatown                         196
                    Excelsior                         162
...                                                   ...
2023-03             Treasure Island                    12
                    Twin Peaks                         10
                    Visitacion Valley                  47
                    West of Twin Peaks                 70
                    Western Addition                  131

[2582 rows x 1 columns]

In [37]:
incident_dtypes.groupby("Incident Year").count()

,Incident Datetime,Incident Date,Report Datetime,Incident Category,Analysis Neighborhood,Latitude,Longitude,Incident Time,Report Time,Report Date,Incident Year-Month,Report Year-Month
Incident Year,,,,,,,,,,,,
2018,87581,87581,87581,87581,87581,87581,87581,87581,87581,87581,87581,87581
2019,86776,86776,86776,86776,86776,86776,86776,86776,86776,86776,86776,86776
2020,74791,74791,74791,74791,74791,74791,74791,74791,74791,74791,74791,74791
2021,81009,81009,81009,81009,81009,81009,81009,81009,81009,81009,81009,81009
2022,81141,81141,81141,81141,81141,81141,81141,81141,81141,81141,81141,81141
2023,15184,15184,15184,15184,15184,15184,15184,15184,15184,15184,15184,15184

In [38]:
pop_2018.loc[pop_2018.index.isin(incident_dtypes.index)]

    Unnamed: 0  Zip Code  Population
0            0     94102     31067.0
1            1     94103     28735.0
2            2     94104       546.0
3            3     94105      9155.0
4            4     94107     29689.0
5            5     94108     14550.0
6            6     94109     56677.0
7            7     94110     74161.0
8            8     94111      3620.0
9            9     94112     85166.0
10          10     94114     34754.0
11          11     94115     35004.0
12          12     94116     47823.0
13          13     94117     44239.0
14          14     94118     41468.0
15          15     94121     43795.0
16          16     94122     62131.0
17          17     94123     25941.0
18          18     94124     35363.0
19          19     94127     21423.0
20          20     94128       135.0
21          21     94129      3994.0
22          22     94130      3064.0
23          23     94131     29902.0
24          24     94132     31488.0
25          25     94133     26527.0
26          26     94134     42471.0
27          27     94158      7291.0