In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [46]:
# Create a reference the CSV file desired
csv_path ="crime_regression.csv"
csv_path_2 = "zillow_regression.csv"

#Read the csv
crime_df = pd.read_csv(csv_path)
zillow_df = pd.read_csv(csv_path_2)
merge_df = pd.DataFrame(pd.read_csv("merge_zipcode_year.csv"))
pop_df = pd.DataFrame(pd.read_csv("SF_POP_ZIP_HOOD_ALLYEARS.csv"))
zip_hood = pd.DataFrame(pd.read_csv("ZIPCODE_NEIGHBORHOOD.csv"))
populationdf = pd.DataFrame(pd.read_csv("COVID-19_Vaccinations_Given_to_SF_Residents_by_Geography.csv"))

# Print the first five rows of data to the screen

zillow_df.head()

            Neighborhood     Date          Price
0  Bayview Hunters Point  2018-01  831369.381083
1  Bayview Hunters Point  2018-02  836834.248717
2  Bayview Hunters Point  2018-03  842389.783017
3  Bayview Hunters Point  2018-04  846786.694867
4  Bayview Hunters Point  2018-05  854780.971367

In [3]:
crime_df.head()

            Neighborhood     Date  Number of Crimes
0  Bayview Hunters Point  2018-01               751
1  Bayview Hunters Point  2018-02               653
2  Bayview Hunters Point  2018-03               620
3  Bayview Hunters Point  2018-04               673
4  Bayview Hunters Point  2018-05               682

In [44]:
merged_df = pd.merge(zillow_df,crime_df, on=["Neighborhood","Date"])
#merged_df 
zip_hood.loc[zip_hood["Neighborhood"] == "Bayview Hunters Point"] #["ZIP"].nunique()

       ZIP           Neighborhood
20   94107  Bayview Hunters Point
39   94110  Bayview Hunters Point
109  94124  Bayview Hunters Point
147  94134  Bayview Hunters Point

In [18]:
merge_df

               Neighborhood     Date         Price  Number of Crimes  Year
0     Bayview Hunters Point  2018-01  8.313694e+05               751  2018
1     Bayview Hunters Point  2018-02  8.368342e+05               653  2018
2     Bayview Hunters Point  2018-03  8.423898e+05               620  2018
3     Bayview Hunters Point  2018-04  8.467867e+05               673  2018
4     Bayview Hunters Point  2018-05  8.547810e+05               682  2018
...                     ...      ...           ...               ...   ...
2035       Western Addition  2022-08  1.105756e+06               358  2022
2036       Western Addition  2022-09  1.082914e+06               376  2022
2037       Western Addition  2022-10  1.064080e+06               378  2022
2038       Western Addition  2022-11  1.049605e+06               359  2022
2039       Western Addition  2022-12  1.037988e+06               317  2022

[2040 rows x 5 columns]

In [53]:
#pop_df
clean_pop = populationdf[["id", "acs_population"]]
clean_pop = clean_pop.rename(columns={"id": "Neighborhood", "acs_population": "Population"})
clean_pop

                      Neighborhood  Population
0                   Inner Richmond     22753.0
1                 Presidio Heights     10445.0
2                     Russian Hill     18237.0
3            Bayview Hunters Point     38480.0
4                   Bernal Heights     26149.0
5              Castro/Upper Market     23138.0
6                        Chinatown     14310.0
7                        Excelsior     40980.0
8   Financial District/South Beach     22963.0
9                        Glen Park      8654.0
10                    Inner Sunset     28551.0
11                       Japantown      3624.0
12                  Haight Ashbury     19181.0
13                    Hayes Valley     19818.0
14                       Lakeshore     14368.0
15               Lone Mountain/USF     17350.0
16                          Marina     25186.0
17                         Mission     58424.0
18                     Mission Bay     13330.0
19                        Nob Hill     26247.0
20                      Noe Valley     22628.0
21                     North Beach     11934.0
22      Oceanview/Merced/Ingleside     27335.0
23                   Outer Mission     24646.0
24                  Outer Richmond     45745.0
25                 Pacific Heights     23953.0
26                         Portola     16243.0
27                    Potrero Hill     14845.0
28                        Seacliff      2416.0
29                 South of Market     25132.0
30                 Sunset/Parkside     81639.0
31                        Presidio      4073.0
32                      Tenderloin     29726.0
33                      Twin Peaks      8068.0
34                 Treasure Island      3184.0
35               Visitacion Valley     19875.0
36              West of Twin Peaks     38485.0
37                Western Addition     22299.0
38               Unable to Geocode         NaN
39           Matched to SF Address    874784.0

In [71]:
combine_df = pd.merge(merge_df, clean_pop, on=["Neighborhood"])
combine_df["Crime Rate"] = (combine_df["Number of Crimes"] / combine_df["Population"])
"""combine_df.plot(kind="bar", x="Year", y="Crime Rate")
plt.show()"""
combine_df.to_csv("crime_rate_per_neighborhood.csv")
combine_df

,Neighborhood,Date,Price,Number of Crimes,Year,Population,Crime Rate
0,Bayview Hunters Point,2018-01,8.313694e+05,751,2018,38480.0,0.019517
1,Bayview Hunters Point,2018-02,8.368342e+05,653,2018,38480.0,0.016970
2,Bayview Hunters Point,2018-03,8.423898e+05,620,2018,38480.0,0.016112
3,Bayview Hunters Point,2018-04,8.467867e+05,673,2018,38480.0,0.017490
4,Bayview Hunters Point,2018-05,8.547810e+05,682,2018,38480.0,0.017723
...,...,...,...,...,...,...,...
2035,Western Addition,2022-08,1.105756e+06,358,2022,22299.0,0.016055
2036,Western Addition,2022-09,1.082914e+06,376,2022,22299.0,0.016862
2037,Western Addition,2022-10,1.064080e+06,378,2022,22299.0,0.016951
2038,Western Addition,2022-11,1.049605e+06,359,2022,22299.0,0.016099
2039,Western Addition,2022-12,1.037988e+06,317,2022,22299.0,0.014216